.Container{
     width:640px;
     height:550px;
     margin:auto;
     margin-top:60px;
     background:white;
     color:#262626;
     display:flex;
     flex-direction: column;
     gap:20px;
     border-radius:10px;
     padding:40px 50px;
}
.Container hr{
    height:2px;
    border:none;
    background:#707070;
}
.Container h2{
    font-size: 27px;
    font-weight: 500;
}
.Container ul li{
    display:flex;
    align-items:center;
    height:70px;
    padding-left:15px;
    border:1px solid #686868;
    border-radius: 8px;
    margin-bottom:20px;
    font-size:20px;
    cursor:pointer;
}
.Container button{
   margin:auto;
   background:#553f90;
    height:65px;
    width:250px;
    color:#fff;
    font-size: 25px;
    font-weight:500;
    border-radius:8px;
    cursor:pointer;
   
}
.Container .index{
    margin:auto;
    font-size:18px;
    
}
.correct{
    background-color: #dffff2;
    border-color:#00d397;

}
.wrong{
    background-color: #ffeBEB;
    border-color:#ff4a4a;
}
